<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Natural Language Processor</title>
        <link rel="stylesheet" href="/styles/resets.scss">
        <link rel="stylesheet" href="/styles/base.scss">
        <link rel="stylesheet" href="/styles/header.scss">
        <link rel="stylesheet" href="/styles/form.scss">
        <link rel="stylesheet" href="/styles/footer.scss">
    </head>

    <body>

        <header>
            <h1>Sentiment Analysis</h1>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return handleSubmit(event)">
                    <label for="name">Enter URL here:</label>
                    <input id="name" type="text" name="input" value="" placeholder="URL to Anylize">
                    <input id="submit" type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section id="results-section">
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>Made with ☕️</p>
        </footer>

    </body>
</html>
