<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <script type="text-javascript" src="../../../dist/main.js"></script>
    </head>

    <body>

        <header>
            <div class="logo"></div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <div class="form">
                <form>
                    <p id="intro">Type a short sentence or phrase below and find out it's positivity score!</p>
                    <input id="name" type="text" name="input" value="" placeholder="Your input">
                    <input id="submit" type="submit" name="submit" value="Submit">
                </form>
            </div>
                <div class="results">
                        <p>Your input's rating is:</p>
                </div>
                <div id="response"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
