body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../images/background.jpg");
  background-size: 100%;
  background-repeat: repeat-y;
  main {
    flex: 2;
    section {
      max-width: 800px;
      margin: 50px auto;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      color: lightgrey;
      h1 {
        font-size: 24px;
        text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
      }
      #results {
        padding: 20px;
      }
    }
    #resultbox {
      border-radius: 20px;
      border: 1px solid #545454;
      background: rgba(81, 83, 84, 0.4);
      padding: 20px;
      font-size: 20px;
    }
  }
}

// Css loader source: https://loading.io/css/
.lds-ripple {
  visibility: hidden;
  display: inline-block;
  align-items: stretch;
  justify-items: stretch;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
