footer {
    font-size: 1.2rem;
    font-style: italic;
    background-color: #e4e4e4;
    color: #3b3b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    padding: 50px 50px;
}