$default-color: #e0e0e0;
$primary-color: #1E212B;
$secondary-color: #7180AC;

form {
    border-radius: 3px;
    padding: 40px;

    input {
        border-radius: 5px;
        border-style: none;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        padding: 5px 20px;
        width: 100%;
        line-height: 16px;
        margin: 10px 0;
    }
    #submit {
        color: #fff;
        background-color: $secondary-color;
        border: none;
    }

    #submit:hover {
        color: #fff;
        background-color: #a0b0df;
    }
    
    #submit:active {
        color: $default-color;
        background-color: #8c9dce;
        outline: none;
    }
    #submit {
        outline: none;
    }
}

#results-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    #results {
        // border: 1px solid #333;
        width: 100%;
        height: 150px;
    }
}