header {
    background-color: #ced7f1;
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 3rem;
        color: aliceblue;
    }
}