.results{
   display: flex;
   justify-content: center;
   align-content: center;
   margin-top: 40px;
   font-size: 24px;
   font-family: "Gill Sans", sans-serif;
}
h2 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-right: 60px; 
    font-family: "Gill Sans", sans-serif;
    color: palevioletred;
    
}

#response {
    display:flex;
    justify-content: center;
    margin: auto;
    padding-top: 30px;
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
    border: 5px solid palevioletred;
    width: 50%;
    height: 30px;
    color: darkmagenta;
}