<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <script type="text/javascript" src="/index.js"></script>
    </head>
    <body>
        <main>
            <form class="" action="index.html" method="post" onsubmit="return handleSubmit(event)">
                <input type="text" name="input" value="" onblur="onBlur()">
                <input type="submit" name="" value="submit" onclick="return handleSubmit(event)" onsubmit="return handleSubmit(event)">
            </form>

            <section id="results">

            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
    </body>
</html>
